<p> Academic Choice (AC) humanities courses offers a core curriculum while allowing access to the full range of African American Studies, Visual & Performing Arts,
  Physical Education, and World Language classes available at Berkeley High School. The typical Academic Choice English and Social Science class follows a
  seminar approach that encourages intellectual curiosity, analytical thinking, and a close working relationship between student and teacher. 
</p>
<p> <b> AC courses provide: </b> </p>
<ul>
  <li> Strategies that invite students to ask questions and draw inferences </li>
  <li> Development of techniques for critical reading and analytic writing </li>
  <li> Encouragement of different levels of questioning </li>
  <li> Synthesis of perspectives from different points of view </li>
  <li> Development of strong written and verbal argumentation </li>
  <li> Paths to make a student's thinking visible </li>
</ul>
<p> Consistent with our objective of offering a variety of quality choices to meet the needs of a diverse community, the AC seeks to prepare students to be
  eligible for continued education beyond high school, and to help prepare students with a strong foundation for the university classroom. Our teaching strategies
  reflect rigor and an awareness of a variety of learning styles. We are committed to arming our students with the skills and drive to be life-long learners
  and critical thinkers.
</p>
<h2> The Curriculum </h2>
<h3> Sophomore Year </h3>
<p> In their sophomore year, AC students take the 10thgrade Humanities Core: World Literature and World History. The academic skills in the sophomore year
  uild on those developed in U9 and work specifically to prepare students for success in AP Humanities courses in their junior year and senior year. </p>
<h3> Junior Year </h3>
<p> In the junior year AC students continue to develop skills that will prepare them for college. AC teachers recommend that students choose the classes
  that most suit their individual interests and passions. While AC teachers strongly encourage students to consider taking at least one of the AP
  humanities courses offered in AC, it is not required. </p>
<h3> Senior Year </h3>
<p> In the senior year, AC students can choose among a variety of English electives. These electives allow students to look more closely at a specific field
  or subject matter. The courses deepen student academic skills developed in the previous years, and help build students towards a level of specificity they
  can expect in college. In 12th grade Social Studies, all AC students are required to take AP Government, and can choose from one of three
  economics courses. </p>
<h3> Junior and Senior Year: Academic Choice Electives </h3>
<p> All Academic Choice electives receive “g” elective credit from the University of California. All of the Academic Choice electives feature one or more
  of the following composition components: </p>
<ul>
<li> Students are exposed to the writing process: prewriting, rough draft, revision, and final draft. </li>
<li> Students’ grades are based mostly on the scores they receive on major written assignments, as well as on and class participation. </li>
<li> Students write essays (750 words or more) in response to major literary or cinematic works. </li>
</ul>                