<p> The Arts and Humanities Academy (AHA), a learning community within Berkeley High School, provides an innovative, rigorous academic and arts curriculum.
  As a community of artists and scholars, AHA students use the lens of the arts to seek creative solutions to academic and artistic challenges.
  The curriculum focuses on AHA's Three Guiding Questions: </p> <ul>
<li> How are we scholarly in our art making and artistic in our scholarship? </li>
<li> How can we use critique to grow as artists and people? </li>
<li> How can we both reflect and affect our environment through art? </li> </ul>
<p> AHA students learn by doing. Interdisciplinary projects structure the core of AHA's educational philosophy, combining Arts, Humanities and Science curricula.
Emphasizing collaborative work, student responsibility and critical thinking, these projects inspire high levels of achievement by linking student interest
in the arts to all aspects of their education. Students emerge as seniors with a holistic understanding of their environment and the surrounding world. </p>
<p> Critical thinking skills are vital to our students' development as responsible citizens. AHA teaches a school-wide approach to critique,
  applying the Studio Habits of Mind throughout the curriculum. Through these consistent reflections, students become adept at analyzing an artistic
  or academic problem from multiple perspectives: experiential, literal, interpretive, thematic and evaluative. Mastering this skill of critical reflection,
  AHA students become life long learners and contributing community members. </p>
<p> With just sixty students per grade, students quickly feel the benefits of a smaller school setting. Throughout their three years, AHA students study science,
  English, history, math and the arts within the learning community; they select world language and physical education courses from the many options from
  individual departments. Advanced Placement (AP) and honors courses are available in the arts, English, science, math and social science. AHA courses meet
  the California Content Standards and most meet the UC/CSU entrance requirements; students graduate from AHA prepared for success in a college or
  university and continued pursuits in the arts. </p>
<h2> The Curriculum </h2>
<h3> AHA's Guiding Questions </h3>
<p> During all three years in AHA students take science, English, history, math and arts classes within the learning community. Students take science in AHA
  during 10th and 11th grade. Each year's curriculum is formatted around Guiding Questions that connect the academic curriculum with students' artistic
  and psychosocial development. Teachers plan curriculum collaboratively, creating interdisciplinary projects that engage the arts, science and humanities,
  while pushing students to reflect deeply on their related guiding questions. </p>
{# <h3> Guiding Questions: </h3> <ul> #}
<ul>
  <li> 10th Grade: Who am I as an artist? What influences my perception and guides my expressions? What is my lens? </li>
  <li> 11th Grade: How have artists reflected upon and contributed to American history and culture? Where do I stand as an emerging artist in this context? </li>
  <li> 12th Grade: As an artist, how can I affect my community and the world in a significant way? </li>
</ul>
<h3> The AHA Experience </h3>
<p> Upon entering the 10th grade, incoming AHA students will have the option of choosing from multiple artistic pathways depending on their interest and medium,
  with many choices in both visual and performing arts. Here, students practice artistic principles that link all of the art forms and develop a vocabulary
  for artistic engagement and aesthetic perception. Academic classes in the 10th grade include AHA World Literature, AHA World History, AHA Math, and AHA Honors
  Anatomy and Physiology. </p>
<p> As 11th and 12th graders, after gaining both experience and perspective, students enroll in the highest level classes in their area of specialization.
  Options include: AP Visual Arts, Advanced Photography, Advanced Ceramics, Dance Production, Advanced Afro-Haitian, Orchestra, Band, or Jazz Ensemble.
  Academic courses in the Junior year are AHA AP English Language and Composition, AHA U.S. History, and AHA Chemistry. Seniors take AHA AP English
  Literature and Composition, AHA AP Government and Economics, and their AHA Senior Internship Seminar (BEST) class. </p>
