<p> The Academy of Medicine and Public service is a <b> health pathway </b> preparing students for life through engaging curriculum and real world experiences.
  We are a community of <b> learners working together </b> as a strong core team of teachers, students and parents to ensure the success of all of our students. </p>
<p> Our college <b> curriculum </b> meets and exceeds UC requirements including: </p> <ul>
<li> Three years of history and English include Honors English courses and Advanced Placement (AP) history courses in both junior and senior year. </li>
<li> Electives include Community Service Professions, Public and Community Health, and Applied Medical English. </li>
<li> We have two sciences through junior year: chemistry and biological health with an emphasis on anatomy.
Seniors can take Honors Anatomy and AP environmental science. </li>
<li> Three-years of math culminate senior year AP Statistics and AP Calculus. </li> </ul>
<p> All juniors have an <b> internship </b> to explore careers and life skills, and our seniors take a class, Applied Medical English that includes
  college application support, medical ethics curriculum, and a capstone project on an area of interest. </p>
<p> Our goal is to prepare students for college and careers and to empower them to become leaders in their community and agents of change.
  In addition, AMPS prioritizes relationship building amongst students and community members through overnight retreats,
  field trips, guest speakers, clubs and more. </p>
<p> <b> AMPS </b> teachers challenge all students to think critically and to build on their individual capacities. As much as possible, core teachers continue to work
  with the same Academy students for two or more years. Our staff works closely with students, families, and the community to create a learning environment
  that supports success for every student. </p>
<h3> Berkeley City College - Dual Enrollment </h3>
<p> AMPS students have the chance to earn college credit while taking BHS courses through Berkeley City College dual enrollment. Classes include Counseling,
  Career and Life Planning, Health Ed and Child Development. This dual enrollment opportunity is one of many AMPS programs that support our students in
  becoming college and career ready. </p>
<h2> AMPS Habit of Mind Chart </h2>
<table>
  <tr>
    <th> AMPS students strive to be: </th>
    <th> Driving Questions <br> <span> By asking: </span> </th>
    <th> Whole School Outcomes <br> <span> So they learn to: </span> </th>
    <tr>
      <td> Inquisitive </td>
      <td> "What if . . . ?" </td>
      <td> Hypothesize and gather evidence </td>
    </tr>
    <tr>
      <td> Critical Thinkers </td>
      <td> “What causes what?” </td>
      <td> Find patterns and make connections </td>
    </tr>
    <tr>
      <td> Open minded </td>
      <td> “What do others think, experience, or care about?” </td>
      <td> Consider multiple perspectives </td>
    </tr>
    <tr>
      <td> Creative </td>
      <td> “How can I approach it differently?” </td>
      <td> Construct and express meaning and knowledge </td>
    </tr>
    <tr>
      <td> Actively engaged </td>
      <td> “Why does it matter?” </td>
      <td> Be self-determined individuals who can communicate and use what they know, value and need. </td>
    </tr>
    <tr>
      <td> Conscientious </td> 
      <td> How can my work contribute to our community?” </td>
      <td> Place their work in a community context, take responsibility for their impact on others, and be conscious agents of change. </td>
  </tr><br> 
</table>