<p> Berkeley International High School (BIHS) is a small learning community within Berkeley High School, focusing on holistic learning and
  building international mindedness for students in grades ten through twelve. The three-year interdisciplinary curriculum has a focus on
  cultures, history, artistic expression, and political, economic, and belief systems. Students also carry out Creativity, Activity, Service (CAS)
  experiences and projects and can complete an extended essay research process so as to be college, career, and life ready upon graduation.
  Students will graduate with critical thinking skills and the knowledge to participate confidently in our interdependent world.
</p>
<p> BIHS, an authorized International Baccalaureate school, prepares students for the option to participate in the IB Diploma Programme,
  an internationally recognized curriculum in 11th and 12th grade that is highly regarded by U.S. universities and colleges around the world.
  During the course of the three years, students in BIHS develop strong relationships with their teachers who help to build students' sense of
  identity and cultural awareness. The integrated 3-year study of humanities focuses on the study of geographical regions and elements of culture
  including literature, art, history, economics, and beliefs. It then progresses through the study of nations and the dynamics of global relationships,
  building in complexity each year. Balancing the richness of Berkeley High School's elective options with the value and challenge of the IB curriculum,
  BIHS creates a supportive community where diversity of perspective is valued and encouraged. With an emphasis on student centered learning,
  including cooperative groups and classroom presentations, BIHS students develop strong speaking and leadership skills. They also develop the ability
  to bring perspective to conversation and participate confidently with people of all backgrounds in our increasingly complex world.
</p>
<p> Tenth grade students take two of their classes with the same core of students to provide community and support. As our students reach the
  upper grades, they develop the skills of inquiry through guided independent research and experiential learning. Additional community building,
  student leadership, and support programs are in place to further ensure a sense of belonging and success for all BIHS students.
</p>
<h2> IB Learner Profile </h2>
<p> As an International Baccalaureate school, BIHS develops internationally minded people who, recognizing their common humanity, strive to create a better
  and more peaceful world. The IB Learner Profile, described below, is a common language across IB courses that guides our staff and students in our mission.
</p>
<h3> IB learners strive to be: </h3>
<h3> Inquirers </h3>
<p> They develop their natural curiosity. They acquire the skills necessary to conduct inquiry and research and show independence in learning.
  They actively enjoy learning and this love of learning will be sustained throughout their lives.
</p>
<h3> Knowledgeable </h3>
<p> They explore concepts, ideas, and issues that have local and global significance. In so doing, they acquire indepth knowledge and develop
  understanding across a broad and balanced range of disciplines.
</p>
<h3> Thinkers </h3>
<p> They exercise initiative in applying thinking skills critically and creatively to recognize and approach complex problems,
  and make reasoned, ethical decisions.
</p>
<h3> Communicators </h3>
<p> They understand and express ideas and information confidently and creatively in more than one language and in a variety of modes of communication.
  They work effectively and willingly in collaboration with others.
</p>
<h3> Principled </h3>
<p> They act with integrity and honesty, with a strong sense of fairness, justice and respect for the dignity of the individual, groups, and communities.
  They take responsibility for their own actions and the consequences that accompany them.
</p>
<h3> Open-minded </h3> 
<p> They understand and appreciate their own cultures and personal histories, and are open to the perspectives, values, and traditions of other individuals
  and communities. They are accustomed to seeking and evaluating a range of points of view, and are willing to grow from the experience.
</p>
<h3> Caring </h3>
<p> They show empathy, compassion, and respect towards the needs and feelings of others. They have a personal commitment to service, and act to make
  a positive difference to the lives of others and to the environment.
</p>
<h3> Risk-takers </h3>
<p> They approach unfamiliar situations and uncertainty with courage and forethought, and have the independence of spirit to explore new roles,
  ideas, and strategies. They are brave and articulate in defending their beliefs.
</p>
<h3> Balanced </h3>
<p> They understand the importance of intellectual, physical, and emotional balance to achieve personal wellbeing for themselves and others. </p>
<h3> Reflective </h3>
<p> They give thoughtful consideration to their own learning and experience. They are able to assess and understand their strengths and limitations
  in order to support their learning and personal development.
</p>

<h2> The Curriculum </h2>
<h3> Sophomore Year </h3>
<p> In tenth grade, BIHS students take Global Literature, Global History, a semester of Comparative Values and Beliefs, and a semester of Comparative Economics.
  These courses focus on research skills, vocabulary development, and prepare students for the analytical thinking their junior and senior years will require.
  Students also take math, chemistry, and are encouraged to take a world language. </p>
<h3> Junior and Senior Years </h3>
<p> In the eleventh grade, all BIHS students take one year of IB higher level English. They will transition from one semester of IB higher level History
  in the fall semester to Theory of Knowledge (TOK) in the spring semester. TOK is a two-semester interdisciplinary class that explores the nature of knowledge
  across multiple subjects and prepares students for intellectually rigorous discussions at the college level. In the twelfth grade students will continue
  with year-long higher level English and History classes. Students will also take the second semester of TOK in the fall and a semester of American
  Government in the spring. In addition to the core classes in the junior and senior years, BIHS students complete two other unique elements allowing them
  to broaden learning experiences outside of the classroom. Each student in BIHS researches a topic of their choice in junior year and IB Diploma candidates
  complete a large “Extended Essay” in 12th grade. Students also complete the Creativity, Action, Service (BIHS CAS) component beginning the first day of
  junior year through the senior year (see BHIS CAS below). </p>
<h3> Creativity, Action, Service (BIHS CAS) </h3>
<p> Although not a course, BIHS CAS is an essential element to every students’ experience in BIHS. Students are involved in a range of activities alongside
  their junior and senior academic studies. BIHS CAS enables students to enhance their interpersonal development through experiential learning. Students are
  required to keep an extra-curricular portfolio in these three categories: 1) physical activity, 2) service, and 3) expression of creativity. Through the
  activities, students should develop greater awareness of themselves and concern for others, as well as the ability to work cooperatively with other people.
  Students develop their own plan to complete the BIHS CAS requirement with the help of the IB coordinator. This project provides an opportunity for leadership
  experience and fits naturally with many students’ interests. </p>
<h3> International Baccalaureate Diploma </h3>
<p> BIHS students may choose to meet the requirements for the International Baccalaureate Diploma. The IB Diploma is an internationally recognized achievement
  which may earn students up to a year’s worth of credit at certain colleges. Aside from completing the standard BIHS graduation requirements of BIHS CAS,
  and the Theory of Knowledge courses, students who choose to pursue the diploma need to complete an Extended Essay, and end of the year exams in six different
  subject areas, (English, history, math, science, world language, and an elective). A minimum of three exams and a maximum of four exams will be taken at the
  higher level, leaving two to three exams to be taken at the standard level. Two standard level (SL) exams may be taken in the junior year and all higher level
  (HL) exams are taken in the senior year. Students may choose to take a second language, a second science, IB Economics, IB Social and Cultural Anthropology,
  IB Music, IB Visual Arts, or IB Art History their elective option. Alternatively, students can choose to earn an IB certificate for college credit in
  any of the IB courses offered at Berkeley High School. Note that IB course work and exams only happen in 11th and 12th grade. </p>