<p> The Berkeley Independent Study (BIS) Program for 9th-12th graders is a program of Berkeley High School (BHS) that offers an academically rigorous
  alternative to the typical classroom environment. Many different kinds of students choose BIS: students who excel academically, who take Berkeley
  City College courses concurrently, who seek the flexibility of scheduling available at BIS because they have daytime jobs, must care for children,
  or have to schedule around major athletic or artistic pursuits. Some students have emotional or health-related issues and need extra support.
  Some simply prefer an alternative educational environment. In any case, BIS students must be selfmotivated and organized to succeed. </p>
<p> Students graduate with a BHS diploma. BIS fulfills the basic requirements for students applying to all major universities and offers all
  A-G classes required by UC/CSU. We offer honors and AP classes in most subjects. Graduates have attended a wide range of universities including
  state, private and Ivy League schools. Students fulfill the same graduation requirements as at Berkeley High School. Courses not offered on the
  Berkeley Independent Study campus may be taken concurrently at BHS. Students may enroll in a maximum of 2 courses at BHS, provided space is available.
  Students register for BHS courses after registration is complete for BHS students. Students have access to all Berkeley High sports, clubs, the College
  and Career Center, and the BHS Library. BIS students waiting for a class at BHS to start are expected to be off campus or the CCC or library. </p>
<p> BIS uses a quarter system. Students may take a maximum of three classes per quarter so that they have ample time to complete their work.
  Students are expected to put in an average of 10 hours of work per class each week. Attending all class appointments on time is essential due
  to the accelerated pace of the quarter system. All classes are conducted one-on-one, or via small seminars. Students must attend weekly classes
  with each of their teachers. Students must submit completed weekly assignments to their teachers. There is a strict Academic Probation policy.
  Students who do not meet Independent Study expectations will be exited back to Berkeley High School or Berkeley Technology Academy. Tutoring is
  available for students who need additional support. BIS is not designed to let students accelerate and graduate early. </p>
<h2> BIS Gardening Program </h2>
<p> Our innovative garden based nutrition program allows students and their families to learn about and experience soil conservation, principles of
  food scrap composting, or vermiculture (raising and producing earthworms for worm castings) and no till planting. We explore and practice quiet
  meditation and the importance of connecting with and caring for the land. We learn principles of land stewardship and how to share the earth’s
  bounty with each other. Growing and eating healthy food is the best insurance for healthy living. Our garden and cooking Instructor emphasizes
  nutrition and the science of growing, cooking and eating healthy nutrition-rich foods. We provide classes specifically for high school students as
  well as a curriculum for K-8. We focus on five basic principles in our garden: </p>
<ul>
  <li> All life is valuable and nothing is considered a weed </li>
  <li> Efficient conservative water use is key to sustainable growing </li>
  <li> Composting and building soil is fundamental to successful growing </li>
  <li> Positivity and respect in and for the garden insures a healthy, happy gardening experience </li>
  <li> Compassionate team work and loving respect for all living things bears the fruits, vegetables and grains we need to live long, healthy productive lives! </li>
</ul>
<p> Please visit the Berkeley Independent Study to learn about the BIS program and all of the steps to enroll. (BIS) website:
<a class="textLink" href="https://www.berkeleyindependentstudy.com/" target="_blank" rel="noreferrer noopener"> https://www.berkeleyindependentstudy.com/ </a>
Questions: email bis@berkeley.net or call (510) 644-6159 </p>
<h3> The Application Process: </h3>
<ol>
  <li> All families must attend an orientation as a first step to enrolling at Berkeley Independent Study. Sign up at the BIS website for an orientation. </li>
  <li> After attending an orientation please fill out the BIS Application found as a Google form at the BIS website. </li>
  <li> Email bis@berkeley.net to let BIS know that you want to move on with the enrollment process. In the email please request a meeting with the academic
    counselor to sign a contract and do a schedule. </li>
</ol>
<p> <i> Note: If a student has an IEP, the IEP team at the student’s current school must convene to determine if Independent Study is an appropriate placement.
  See steps below. If a student is an English Learner, then the BHS Multilingual Program would be consulted about placement. Only the SARB team can
  recommend that a truant student come to ISP. If coming from out of district, you must start the process at BUSD Admissions Office at 2020 Bonar Street or at
  admissions@berkeley.net. Students enrolled in ISP may be eligible to enroll in up to 2 classes at BHS, provided there is space in the class. </i> </p>
<h2> BUSD Home & Hospital Instruction (HHI) </h2>
<p> <i> Availability of Individualized Instruction for a pupil with temporary disability in the hospital or at home (EC §§48206.3, 48207-48208): </i> </p>
<p> <b> Home & Hospital Instruction (HHI) </b> is available to all Berkeley Unified students who are unable to attend school for extended periods of time
  due to physical or mental incapacity. Students must have authorization from a medical doctor and the school district to enroll. The student that is
  approved must have a need to be out of the school on record for 30 days or more. HHI is individualized instruction that is available to students
  with temporary disabilities whose disability makes attendance in the regular day classes or alternative education program in which the student is
  enrolled impossible or inadvisable. </p>
<p> HHI students are entitled to five hours of instruction per week. Assigned teachers usually meet the students at their homes or in the hospital.
  By keeping in touch with primary teachers, HHI teachers help students keep up with their regular course load. If a student is with the HHI teacher
  for a quarter or more, then the HHI teacher will give a student grades for their classes. This program helps ensure that students, regardless of
  circumstance, can keep up with their education. The HHI program is administered on the Independent Studies campus. </p>
<h3> HHI Application Process: </h3>
<ol>
  <li> The family picks up an HHI application from BIS Office or the BIS website. </li>
  <li> A doctor must sign the application, give a medical reason, and add a return date. </li>
  <li> The Principal/VP would have to approve and sign the HHI application as well as a counselor.
    <br> <i> If the student has an IEP, then an IEP meeting must be held and the IEP team must agree to a change of placement. </i> </li>
  <li> The family turns in the completed application to the BIS Office. </li>
  <li> The HHI Lead Teacher meets with the family and they sign a master agreement contract with a student’s schedule. </li>
  <li> Then BIS notifies the current school that the student has started HHI and dis-enrolls the student from their classes at their current school. </li>