<p> CAS's mission is to graduate academically confident and self-reflective young adults who are committed to their own well-being and that of their communities.
  CAS students will leave the program with a sense of their role in the fight for social justice, a vision of themselves as lifelong learners, and the skills
  to critically consume and produce digital media as a tool for creating a more just world.
</p>
<p> To that end, we strive to support our students holistically and provide them with challenging, relevant curricula. We are committed to continually
  examining our practice and soliciting feedback to ensure that we are trauma-responsive, healing-centered, anti-racist, and meeting the needs of our students
  and families. Through our media production career pathway and our opportunities for collaborative and experiential learning, we aim to develop students'
  academic strengths, technical media skills, empathy, resilience, and agency.
</p>
<p> In addition to our academic program, we are proud of the heterogeneous community of learners that CAS represents. Every year, we augment students'
  experience in their classes with a variety of extracurricular expewriences designed to promote self-awareness, a sense of community, and mental
  and emotional well-being. 
</p>
<h3> These include: </h3>
<ol>
  <li> Overnight retreats for each grade level at the Camp Jones Gulch YMCA. </li>
  <li> Talent Shows and mixers to foster inter-grade connection. </li>
  <li> The option to participate in identity-based affinity groups. </li>
  <li> Field trips to plays, museums, movies, and other experiential education opportunities. </li>
  <li> Senior Experiential Learning Trip </li>
</ol>
<h3> Several key experiences form the backbone of our academic and career pathway: </h3>
<ul>
  <li> The two required media courses: Introduction to Computer Arts and Art of Video Production </li>
  <li> A yearlong internship/service project completed during Senior year </li>
  <li> The Senior Thesis, a college-level research project on a complex social issue </li>
</ul>
