<p> All incoming ninth grade students are assigned to one of seven houses, or hives. These hives are composed of approximately 120 students
  who share 4 teachers in their core subject areas: Math 1 (or Advanced Math 1), Physics 1, English, and Ethnic Studies/Social Living.
  Students choose their remaining two classes out of the elective options presented below. At the end of ninth grade, students have the opportunity
  to rank one of the five learning communities at Berkeley High School for their 10th-12th grade education
</p>
<h3> Sample Student Schedule for 9th Grade: </h3>
<table>
  <tr> 
    <th> Per. </th>
    <th> Class </th>
  </tr>
  <tr> 
    <td> 1 </td>
    <td> Elective </td>
  </tr>
  <tr> 
  <td> 2 </td>
  <td> Physics 1 </td>
  </tr>
  <tr> 
    <td> 3 </td>
    <td> Ethnic Studies/Social Living </td>
  </tr>
  <tr> 
    <td> 4 </td>
    <td> Math/Advanced Math 1 </td>
  </tr>
  <tr> 
    <td> 5 </td>
    <td> English 1 </td>
  </tr>
  <tr> 
    <td> 6 </td>
    <td> Elective </td>
  </tr>
</table>