{% import 'macros/courseCard.njk' as card %}
{% import 'macros/elements.njk' as elements %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BHS Course Catalog</title>
    <link href="style.css" media="all" rel="stylesheet" type="text/css">
    <script src="script.js" type="module"></script>
  </head>
  <body>
    <section id="header">
      <div id="navbar">
        {{ elements.sidebar(user, 'home') }}
        <a href="/" class="title"><h1>Berkeley High Course Catalog</h1></a>
      </div>
      <div class="slcFilters">
        {% for key, value in slcFilters %}
          {{ card.addFilter(value, key) }}
        {% endfor %}
      </div>
      <div class="agFilters">
        {% for key, value in UCOP %}
          {{ card.addFilter(value, key) }}
        {% endfor %}
      </div>
      <div class="levelFilters">
        {% for key, value in levels %}
          {{ card.addFilter(value, key) }}
        {% endfor %}
      </div>
      <div class="otherFilters">
        {% for key, value in otherFilters %}
          {{ card.addFilter(value, key) }}
        {% endfor %}
      </div>
      <div class="gradeFilters">
        {% for key, value in gradeFilters %}
          {{ card.addFilter(value, key) }}
        {% endfor %}
      </div>
      {# <div id="searchBar">🔍 Search
        <span contentEditable="true"></span>
      </div> #}
    </section>
    <div class="hidden" id="message"></div>
    <section id="cards">
      {% for course in courses %}
        {{ card.view(course, UCOP) }}
      {% else %}
        <h2>No Results Found</h2>
      {% endfor %}
    </section>
  </body>
</html>
