<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BHS Course Catalog Login</title>
    <link href="style.css" media="all" rel="stylesheet" type="text/css">
    <script src="script.js" type="module"></script>
</head>
<body>
  <section id="header">
    <h1 class="title">Berkeley High Course Catalog</h1>
  </section>
  <section id="login">
    <a class="pill" id="loginButton" href="/auth/google">Log in with Google</a>
    <p class="error">{{ error }}</p>
  </section>
</body>
</html>
