{% import 'macros/courseCard.njk' as card %}

{% macro dropdown(userInfo, divId, buttonId, text, options) %}
  <div id="{{ divId }}" class="dropdownUnit">
    <span class="textSpan"> <b> {{ text }} </b> </span>
    <div class="dropdown">
      <a id="{{ buttonId }}" class="dropdownButton pill">
        {% if userInfo %}
          {{ userInfo }}
        {% else %}
          Choose {{ text }}
        {% endif %}
      </a>
      <div class="dropdownContent">
      {% for option in options %}
        <span class="dropdownItem">{{ option }}</span>
      {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro sidebar(user, page) %}
  <a id="hamburger" class="pill">☰</a>
  <div id="sideMenu">
    <section id="navigation">
      <h2 class="sideMenuHeader">Navigation</h2>
      <div>
        {% if page !== 'home' %}
          <a class="pill link"id="enterHome" href="/">Filtered View</a>
        {% endif %}
        {% if page !== 'section' %}
          <a class="pill link"id="enterSection" href="/slc">Browse by Section</a>
        {% endif %}
        {% if page !== 'plan' %}
          <a class="pill link"id="enterPlan" href="/plan">Course Planner</a>
        {% endif %}
        {% if page !== 'edit' and user.role !== 'user' %}
          <a class="pill link"id="enterEdit" href="/edit">Editing Mode</a>
        {% endif %}
      </div>
    </section>
    <section id="settings">
      <h2 class="sideMenuHeader">Settings</h2>
        <div class="toggle">
          <label class="switch">
            <input type="checkbox" id="themeSwitch">
            <span class="slider" id="themeSlider"></span>
          </label>
          <span class="marginLeft">Dark Mode</span>
        </div>
        <div>
          <div class="dropdowns">
            {{ dropdown(user.grade, 'chooseGrade', 'gradeDropdown', 'Grade', [9, 10, 11, 12])}}
            {{ dropdown(user.slc, 'chooseSlc', 'slcDropdown', 'SLC', ['AC', 'AHA', 'AMPS', 'BIHS', 'CAS'])}}
          </div>
        </div>
        <div id="bar-settings">
          <label>
            <input type="checkbox" id="advancedCheck"{% if user.isAdvanced == 'true' %}checked{% endif %}/>
              Advanced Math Track
          </label>
        {% if page === 'plan' %}
            <label>
              <input type="checkbox" id="ucCheck"/>
                Show UC A-G Progress Bar
            </label>
            <div class="toggle">
              <label class="switch">
                <input type="checkbox" id="ucSwitch">
                <span class="slider" id="ucSlider"></span>
              </label>
              <span id="ucReqRec" class="marginLeft">UC A-G Required</span>
            </div>
        {% endif %}
        </div>
        <a id="logout" class="pill"href="/logout">Logout</a>
    </section>
  </div>
  <div id="overlay"></div>
{% endmacro %}

{% macro column(grade, courses, options, UCOP) %}
  <div class="plannerColumn" id="column{{ grade }}">
    <h2>{{ grade }}</h2>
    {% for course in courses %}
      {% if not course.skip %}
        {% if course.duration !== 'Year' %}
          {% if course.hasPair %}
            <div class="semesterBox" data-period="{{ course.period }}">
              {{ card.mini(course, grade, UCOP) }}
              {{ card.mini(courses[loop.index0 + 1], grade, UCOP) }}
            </div>
          {% else %}
            <div class="semesterBox" data-period="{{ course.period }}">
              {{ card.mini(course, grade, UCOP) }}
            </div>
          {% endif %}
        {% else %}
          {{ card.mini(course, grade, UCOP) }}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% for group in options %}
      <span class="option" id="{{ group.id }}">{{ group.text }}</span>
    {% endfor %}
  </div>
{% endmacro %}

{% macro barSection(type, id, name, credits, amount, total) %}
  <div class="progress-section" id="barSection{{ id }}" data-value="{{ amount }}" style="width: {{ amount/total * 100 }}%;">
    <div class="info" id="info{{ id }}">
      <span> {{ name }} </span>
      {% if type == 'BHS' %}
        BHS Graduation
      {% else %}
        UC A-G Credits
      {% endif %}
      <span> {{ amount }} credits {{ 'recommended' if type == 'UC-Rec' else 'required' }}</span>
    </div>
    <div class="progress-bg" id="barBg{{ id}}">
      {% if credits == 0 %}
        0/{{ amount }}
      {% endif %}
    </div>
    <div class="progress-bar" id="bar{{ id }}" data-label="{{ name }}" data-value={{ credits }} style="width: {{ credits/amount * 100}}%">
      {{ credits if credits <= amount else amount }}/{{ amount }}
    </div>
  </div>
{% endmacro %}