# Google OAuth credentials for Google sign in. To move this to a different
# host need to add a redirect URL that matches GOOGLE_REDIRECT_URL and also
# probably an authorized JavaScript origin. Note that adding a redirect URL may
# not take effect immediately. (The page where you add it says, "Note: It may
# take 5 minutes to a few hours for settings to take effect".)
GOOGLE_CLIENT_ID=<Google OAuth app client ID>
GOOGLE_CLIENT_SECRET=<Google OAuth app client secret>
GOOGLE_REDIRECT_URL=<wherever this is running>/auth/google/callback

# Secret used in session store. Literally just generate a random string.
# E.g. cat /dev/random | hexdump -n 16 -e '4/1 "%02x" "\n"'  | paste -sd '-'
SECRET=<randomly generated string>

# SQLite database
DB_DIR=<directory where db file will be created>
DB_FILE=<db filename>

# Where to listen from
IP_ADDRESS=<ip address to host on>
HTTP_PORT=<server port>

# Users of the website with the 'admin' role, the highest permissions
# Should be full emails separated by a comma
ADMINS=<website admin emails>
